@font-face {
    font-family: "bold";
    src: url("../images/Something\ Strange.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../images/Bold.ttf");
}

.header {
    font-family: bold;
    color: white;
    font-size: 100px;
    text-align: center;
}
.header2 {
    font-family: bold;
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: -65px;
}

body {
   background: url("../images/background.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
}

.container {
    margin-top: 25px;
    padding: 30px 5px 30px 5px;
    background-color: black;
}

.question {
    font-size: 30px;
    color: rgb(157, 25, 25);
    font-family: bold;
}

#timeLeft {
    font-size: 20px;
    color: white;
    font-family: bold;
    text-align: right;
}

#startButton {
    font-family: bold;
    background-color: black;
    color: rgb(157, 25, 25);
    cursor: pointer;
    font-size: 30px;
}

#currentQuestion {
    color: white;;
    font-family: bold;
    font-size: 25px;
}

.answerOptions {
    color: rgb(157, 25, 25);
    font-family: bold;
    font-size: 25px;
    cursor: pointer;
}

#message, #correctedAnswer, #correctAnswers, #finalMessage, #unanswered {
    color:rgb(157, 25, 25);
    font-family: bold;
    font-size: 30px;
    text-align: center;
}
#finalMessage {
    color:white;
    font-family: bold;
    font-size: 40px;
    text-align: center;
}


