@font-face {
    font-family: "zombie";
    src: url("../images/zombies.ttf");
}

@font-face {
    font-family: "bloody";
    src: url("../images/bloody.ttf");
}

body {
   background: url("../images/background.jpg");
}

.container {
    margin-top: 25px;
    padding: 30px 5px 30px 5px;
    background-color: black;
}

.title {
    font-family: zombie;
    font-size: 140px;
    text-align: center;
    color: rgb(136, 15, 15);
}

.timeRemaining {
    margin-top: -90px;
    font-size: 75px;
    color:rgb(179, 170, 140);
    font-family: bloody;
    text-align: center;
}

.questions {
    font-size: 30px;
    color: white;
    font-family: bloody;
}

#timer {
    font-size: 60px;
    color: rgb(136, 15, 15);
    text-decoration: underline;
    font-family: bloody;
    text-align: center;
}

button {
    background-color: black;
    border: dashed 3px rgb(136, 15, 15);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(136, 15, 15);
    border: dashed 3px white;
    color: black;
}

