@font-face {
    font-family: "bold";
    src: url("../images/Something\ Strange.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../images/Bold.ttf");
}

.header {
    font-family: bold;
    color: white;
    font-size: 100px;
    text-align: center;
}
.header2 {
    font-family: bold;
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: -60px;
}

body {
   background: url("../images/background.jpg");
   background-size: 100%;
}

.container {
    margin-top: 25px;
    padding: 30px 5px 30px 5px;
    background-color: black;
}

.question {
    font-size: 25px;
    color: rgb(157, 25, 25);
    font-family: bold;

}

#timeLeft {
    font-size: 25px;
    color: white;
    background-color:black;
    font-family: bold;
    text-align: right;
}

#startButton {
    font-family: bold;
    background-color: black;
    color: rgb(157, 25, 25);
    cursor: pointer;
    font-size: 30px;
    margin: 0px 0px 0px 500px;
}

button:hover{
    background-color: rgb(157, 25, 25);
    color: white;
}

#currentQuestion {
    color: rgb(157, 25, 25);
    font-family: bold;
    font-size: 25px;
}

.answerOptions {
    color: rgb(157, 25, 25);
    font-family: bold;
    font-size: 25px;
}

#message {
    color: rgb(157, 25, 25);
    font-family: bold;
    font-size: 25px;
    text-align: center;
}

#correctedAnswer {
    color:rgb(157, 25, 25);
    font-family: bold;
    font-size: 25px;
    text-align: center;
}

#correctAnswers {
    color: rgb(157, 25, 25);
    font-family: bold;
    font-size: 25px;
    text-align: center;
}

#finalMessage {
    color: rgb(157, 25, 25);
    font-family: bold;
    font-size: 25px;
    text-align: center;
}

#unanswered {
    color: rgb(157, 25, 25);
    font-family: bold;
    font-size: 25px;
    text-align: center;
}


